<div id="spoiler_movie_name">
  Synopsis for: <%= link_to @movie.name, @movie  %>
</div>
<p>
  <strong>Synopsis:</strong>
  <%= @spoiler.synopsis %>
</p>

<%= link_to 'Edit', edit_spoiler_path(@spoiler.id) %> |
<%= link_to 'Back', spoilers_path %>
