<div id="spoiler_movie_name">
  Synopsis for: <%= link_to @movie.name, @movie  %>
</div>
<p>
  <strong>Synopsis:</strong><br>
  <%= simple_format h @spoiler.synopsis %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_spoiler_path(@spoiler.id) %> |
<% end %>
<%= link_to 'Back', spoilers_path %>
