.sign_in_box_wrapper {
  width: 100%;
  height: 1.5em;
  
}

.sign_in_box {
  float: right;
}

.header_box {
  width: 100%;
  text-align: center;
}

#header_logo {
  font-family: 'Times New Roman'
}

#mono_time

.header_nav_list {
  width:90%;
  margin-left: 5%;
}

#nav_li {
  float: left;
  padding: .3em;
}

#nav_li:hover {
  background: #dddddd;
}
